lib/vendor/symfony/*
lib/model/om/*
lib/model/map/*
lib/form/base/*
lib/filter/base/*
plugins/sfGuardPlugin/lib/model/om/*
plugins/sfGuardPlugin/lib/model/map/*
plugins/sfGuardPlugin/lib/form/base/*
plugins/sfGuardPlugin/lib/filter/base/*
web/uploads/*
data/sql/*.schema.sql
data/sql/sqldb.map
